<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default.css') }}">
    <title>{{title}}</title>

    <script language="JavaScript">
        function send(form){
        }
    </script>

</head>
<body>
    <div id="container">
		<div id="logo">{{title}}</div>
		<div id="space"></div>
        <form id="form" name="form" action="/guest" method="post"><center>
				<div id="footer">
        		First Name:
				<input type="text" name="firstName" autofocus><br>
				Last Name:
				<input type="text" name="lastName"><br>
				Company:
				<input type="text" name="company"><br>
				<br>
				</div>
				<button name="button" value="submit" onclick="send()">Submit</button>
				<button name="button" value="home" onclick="send()">Back</button>
        </form>        
        </div>
    </div>     
</body>
</html>
