<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default.css') }}">
    <title>{{title}}</title>

    <script language="JavaScript">
        function send(form){
        }
    </script>

</head>
<body>
    <div id="container">
        <form id="form" name="form" action="/" method="post"><center>
		<div id="logo">{{title}}</div>
		<div id="space"></div>
		<ul>
		{% for user in db %}
			<li>{{user.username}}</li>
		{% endfor %}
		</ul>
		<div id="space"></div>
		<div id="form">
				Swipe Pitt ID card or press Enter for guest
				<br>
				<input type="text" name="user_input" onclick="send()">
        </form>        
    </div>     
</body>
</html>
