<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default.css') }}">
    <title>{{title}}</title>

    <script language="JavaScript">
        function send(form){
        }
    </script>

</head>
<body>
    <div id="container">
		<div id="logo">{{title}}</div>
		<div id="space"></div>
		<ul>
		{% for user in db %}
			<li>{{user.username}}</li>
		{% endfor %}
		</ul>
        <form id="form" name="form" action="/" method="post"><center>
        </form>        
        </div>
    </div>     
</body>
</html>
