<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default.css') }}">
    <title>{{title}}</title>

    <script language="JavaScript">
        function send(form){
        }
    </script>

</head>
<body>
    <div id="container">
        <form id="form" name="form" action="/" method="post"><center>
		<div id="logo">{{title}}</div>
		<div id="space"></div>
		<div id="tbl-header">
			<table cellpadding="0" cellspacing="0" border="0">
				<thead>
					<tr>
						<th>Username</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Date/Time</th>
					</tr>
				</thead>
			</table>
		</div>
		<div id="tbl-content">
			<table cellpadding="0" cellspacing="0" border="0">
				<tbody>
				{% for user in building_log %}
					<tr>
						<td>{{user[0]}}</td>
						<td>{{user[1]}}</td>
						<td>{{user[2]}}</td>
						<td>{{user[3]}}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		<div id="space"></div>
		<div id="footer">
			Swipe Pitt ID card or press Enter for guest<br>
			<input type="text" name="user_input" class="hideme" onblur="this.focus()" autofocus onclick="send()">
		</div>
        </form>        
    </div>     
</body>
</html>
